/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: all ease 100ms;
}

li {
    list-style: none;
}
/* utility classes */

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 50px 200px;
}


/* navbar */

#nav-container{
    padding: 30px 300px;
} 

a:hover{
    color: lightgray;
    border-bottom: 2px solid lightgray;
    padding-bottom: 15px;
}

.profile-img img{
    border-radius: 50%; 
}

.hero-section{
    padding: 0px 320px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#profile-info p{
    color: darkgray;
    font-size: 1.2rem;
    font-weight: 600;
}

#profile-info h1{
    font-size: 2rem;
}

#profile-info h2{
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
}

#profile-btn a:nth-child(1){
    background-color: green;
    padding: 10px;
    color: white    
    ;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 0.80rem;
}

#profile-btn a:nth-child(2){
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 0.80rem;
}

#profile-btn a:nth-child(1):hover{
    color: white;
    background-color: black;
}

.about-container > p {
    color: darkgray;
    margin-bottom: 10px;
}

.about-container > h2 {
    font-size: 3rem;
}

.about-container > p,h2{
    text-align: center;
}

.about-me{
    margin-top: 5rem;
    gap: 4rem;
}

.about-me > div img{
    border-radius: 20px;
}

.about-info-div{
    width: 350px;
    padding: 20px 50px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    flex-direction: column;
    gap: 10px;
}


#about-para{
    margin-top: 2rem;
    font-size: 1.1rem;
    text-align: justify;
    color: darkgray;
    line-height: 1.7rem;
}

.experience-container {
    margin-top: 5rem;
}

.experience-container > p {
    text-align: center;
    color: darkgray;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.experience-container > h2 {
    font-size: 2rem;
}

.experience-div {
    margin-top: 5rem;
}

.Frontend{
    width: 500px;
    /* background-color: aquamarine; */
    padding: 30px 60px;
    border: 2px solid black;
    border-radius: 20px;
}

.Frontend h3 {
    margin: 20px 0px;
    text-align: center;
}

.tech-list ul li {
    margin: 20px 0px;
}

.tech-list ul li h4 {
    margin-bottom: 10px;
}

#project-section {
    margin-top: 5rem;
}

.project-container  > p {
    text-align: center;
    color: darkgray;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project-container  > h2 {
    font-size: 2rem;
}

.projects {
    margin-top: 5rem;
}

.projects #project {
    padding: 50px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}

.projects #project img {
    width: 250px;
    border-radius: 20px;
}

.projects #project h3 {
    margin: 20px 0px;
}

.projects #project a {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.projects #project a:hover {
    background-color: black;
    color: white;
}

.get-in-touch-container{
    padding: 10px 100px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}

.get-in-touch-container p {
    color: darkgray;
    font-size: 1.2rem;
}

.get-in-touch-container h2 {
    font-size: 2rem;
}

.Contact-div {
    width: min-content;
    border: 2px solid black;
    border-radius: 20px;
    gap: 0px;

}

.Contact-links {
    padding: 20px;
   
}

.Contact-links > a:hover {
    color: lightgray;
    border-bottom: 2px solid lightgray;
    padding-bottom: 15px;
}

.Contact-links img {
    width: 30px;
}

footer {
    text-align: center;
    padding: 30px;
}

.footer-links{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 30px;
}

.footer-links li a{
    font-size: 1.5rem;
}